In [2]:
import pandas as pd
import mysql.connector

In [9]:
# Reading data from SQL


connection = mysql.connector.connect(host='localhost',
                                         database='sakila',
                                         user='root',
                                         password='ZySQLInstaller')
query = "select * from country limit 5"
data = pd.read_sql(query,connection)
display(data)
connection.close()

   country_id         country         last_update
0           1     Afghanistan 2006-02-15 04:44:00
1           2         Algeria 2006-02-15 04:44:00
2           3  American Samoa 2006-02-15 04:44:00
3           4          Angola 2006-02-15 04:44:00
4           5        Anguilla 2006-02-15 04:44:00

In [3]:
from pymongo import MongoClient

In [4]:
client = MongoClient("mongodb://localhost:27017/")
 
# Database Name
db = client["thapatechnical"]
 
# Collection Name
col = db["thapadata"]
 
x = col.find_one()
 
print(x)

{'_id': ObjectId('63ccf2c2180e2079f15350d0'), 'name': 'ReactJS', 'type': 'Front End', 'videos': 80, 'active': True}

In [8]:
# Reading data from NoSQL


con = MongoClient("mongodb://localhost:27017/")# create mongo connection

db = con["thapatechnical"] # Database Name

cursor = db["thapadata"].find() # creating a cursor object using a query

df = pd.DataFrame(list(cursor))
df

#con.list_database_names() will display available databases

                        _id     name       type  videos  active
0  63ccf2c2180e2079f15350d0  ReactJS  Front End      80    True

In [9]:
# Reading data from APIs & Cloud Data Access

data_url = "http://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
df = pd.read_csv(data_url, header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [2]:
# Reading Data from APIs

import pandas as pd
import requests

In [3]:
r = requests.get('https://api.covid19api.com/summary')
json = r.json() # to extract the json-structured data from the request object
json

{'Message': 'Caching in progress',
 'Global': {'NewConfirmed': 0,
  'TotalConfirmed': 0,
  'NewDeaths': 0,
  'TotalDeaths': 0,
  'NewRecovered': 0,
  'TotalRecovered': 0,
  'Date': '0001-01-01T00:00:00Z'},
 'Date': '0001-01-01T00:00:00Z'}

In [4]:
json.keys()

dict_keys(['Message', 'Global', 'Date'])

In [5]:
json['Global']

{'NewConfirmed': 0,
 'TotalConfirmed': 0,
 'NewDeaths': 0,
 'TotalDeaths': 0,
 'NewRecovered': 0,
 'TotalRecovered': 0,
 'Date': '0001-01-01T00:00:00Z'}

In [6]:
json['Message']

'Caching in progress'

In [7]:
json['Date']

'0001-01-01T00:00:00Z'

In [9]:
print(type(json['Global']))
print(type(json['Message']))
print(type(json['Date']))

<class 'dict'>
<class 'str'>
<class 'str'>

In [12]:
pd.DataFrame([json["Global"]])

,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered,Date
0,0,0,0,0,0,0,0001-01-01T00:00:00Z